/***** Typography ****/

body {
	font-family: Gotham, sans-serif;
	font-size: 16px;
	margin: 0;
}
	h1 {
	font-family: "Gill Sans", sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 72px;
	margin: 0px;
	padding: 0px 10px;
}

h2 {
	font-family: Gotham, Helvetica, sans-serif;
	font-size: 48px;
}

h3 {
	font-size: 24px;
}

h4 {

}
	
a {
	color: #fff000;
	text-decoration: none;
}

a:hover {
	color: #DE2186;
}
/**** Structure ****/

header {
	background-image: url("../images/squairy_light.png");
}

header .container {
	width: 800px;
	margin: 0 auto;
	padding: 200px 0 300px 0;
}

header #name {
	background-color: #fff000;
	margin-left: 200px;
}

header #name h1 {
	height: 78px;
}

header #title {
	background-color: #19C2FF;
	margin-right: 250px;
	text-align: right;
}

header #title	h2 {
		margin: 10px;
		padding: 5px 0;
		font-size: 36px;
		font-weight: lighter;
	}

header nav {
	background-color: #DE2186;
	margin-left: 265px;
	margin-right: 150px;
	padding-left: 5px;
}

header nav ul {
	list-style-type: none;
	padding: 5px 0px;
	margin: 10px 0px;
}

header nav ul li {
	display: inline;
	margin: 10px;
}

header nav ul li a {
	font-family: Gotham, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

header nav ul li a:hover {
	color: white;
}

header #social-media {
	margin-left: 325px;
	margin-right: 250px;
}

header #social-media img {
	height: 32px;
	width: 32px;
	margin: 5px 10px 0px 10px;
}

header #social-media a:hover {

}

#about {	
	background-color: #19C2FF;
	background-size: auto;
	background-clip: border-box;
	background-origin: padding-box;
	background-attachment: scroll;
	height: 750px;
}

#about .container {
	width: 900px;
	margin: 0px auto;
	padding: 150px 0px; 
}

#about p {
	font-size: 24px;
}

#portfolio {	
	background-color: #fff000;
	height: 1100px;
}

#portfolio .container {
	width: 900px;
	margin: 0px auto;
	padding-top: 10px;
}

#portfolio h2 {
	margin-top: 100px;
}
#portfolio .project {
	width: 400px;
	height: 400px;
	float: left;
	margin: 10px 20px 0 0;
	padding: 10px 20px 0 0;
}

#portfolio a {
	text-decoration: none;
	color: black;
}

#portfolio a:hover {
	color: #DE2186;

}

#portfolio .project img {
	height: 250px;
	width: 350px;
	border: 1px solid grey;
	border-radius: 10px;
}

#portfolio .no-image {
	display: none;
}

#blog {
	height: 540px;
	clear: left;
	display: none;
}

footer {
	padding: 0px 40px 10px 40px;
	clear: left;
	border-top: 1px solid grey;
}

footer p {
	text-align: right;
	padding: 20px 20px 10px 20px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;

}

